<!doctype html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <title>Aliice | {{title}}</title>
  <meta name="description" content="{{title}} Email Notification">
  <style type="text/css">
    a:hover {
      text-decoration: underline !important;
    }
  </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
       style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
  <tr>
    <td>
      <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
             align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <img src="https://i.ibb.co/mNhW48M/LOGO-01.png" style="height:80px;"
                 alt="aliice-logo" border="0">
          </td>
        </tr>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                   style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
              <tr>
                <td style="padding:0 35px; text-align: left;">
                  <h1
                    style="color:#1e1e2d; font-weight:300; margin:0;font-size:25px;font-family:'Rubik',sans-serif;">
                    Hello <b>{{ name }}</b>,
                  </h1>
                  <p style="font-size:16px; color:#333;">
                    Welcome to Aliice! We're excited to have you onboard.
                  </p>
                  <p style="font-size:16px; color:#333;">
                    To finish setting up your account, please use the following verification code:
                  </p>
                  <p style="text-align: center;">
                    <span style="display: inline-block; background-color: #e0e7ff; padding: 10px 20px; font-size: 24px; font-weight: bold; color: #2B69F6; border-radius: 5px; letter-spacing: 2px;">{{verificationCode}}</span>
                  </p>
                  <p style="font-size:16px; color:#333;">
                    If you didn't request this code, please disregard this email. Your account is secure.
                  </p>
                  <p style="font-size:16px; color:#333;">
                    Cheers,<br>
                    The Aliice Team
                  </p>
                </td>
              </tr>
              <tr>
                <td style="height:40px;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="height:20px;">&nbsp;</td>
        </tr>
        <tr>
          <td style="text-align:center;">
            <p
              style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
              © 2024 Aliice. All rights reserved.</p>
          </td>
        </tr>
        <tr>
          <td style="height:80px;">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--/100% body table-->
</body>

</html>
